
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px;
  height: 100%;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

html,
body,
.root {
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  outline: none;
  text-decoration: none;
}
